sudo: required
services:
    - docker

before_install:
    - docker build -f Dockerfile.dev -t maligator/docker-react .

script:
    - docker run -e CI=true maligator/dockn test pm ruer-react n-- --coverage